<footer>
  &copy; {{ site.time | date: "%Y" }} <a href="https://dikiaap.id" class="home">{{ site.name }}</a><br>
  <small>The content for this site is <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="home gray-underline" target="_blank" rel="noopener">CC BY-SA 4.0</a>. The <a href="https://github.com/dikiaap/blog.dikiaap.id" class="home gray-underline" target="_blank" rel="noopener">code</a> for this site is <a href="https://opensource.org/licenses/MIT" class="home gray-underline" target="_blank" rel="noopener">MIT</a>.</small>
</footer>